<div style="background: #303a52;padding: 10px;border-radius: 10px;color: #f0f0f0;font-family: Arial, Helvetica, sans-serif;">
    <div style="width: fit-content;margin: 0 auto;">
    <h3 style="text-align: center;color: #f0f0f0;"> Parola dumneavoastra a fost resetata</h3>
    <p style="color: #f0f0f0;">Noua dumneavoastra parola este:</p>
    <div style="display: flex;justify-content: center;"><span style="background-color: #574b90;border-radius: 50px;color: #f0f0f0;padding: 5px 30px;">HERE_SECRET_PASSWORD</span></div>
    <p style="color: #f0f0f0;"> Va rugam sa o introduceti in momentul autentificarii.</p>
    <p style="color: #f0f0f0;">Din motive de securitate va rugam sa schimbati parola dupa prima autentificare.</p>
    <h4 style="text-align: right;color: #f0f0f0;">O zi buna</h4>
    </div>
</div>